gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

/build/
/android/build/
/ios/Pods/
/ios/.symlinks/
/**/DerivedData/

# Flutter generated plugin registrants
**/Flutter/GeneratedPluginRegistrant.*
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.*